.horizontal-main.hor-menu.clearfix
    .horizontal-mainwrapper.container.clearfix
        nav.horizontalMenu.clearfix
            ul.horizontalMenu-list
                li(aria-haspopup='true')
                    a.sub-icon(href='/' class=dashActive)
                        i.typcn.typcn-device-desktop.hor-icon
                        |  Dashboard 
                li(aria-haspopup='true')
                    a.sub-icon(href='/patients' class=patientActive)
                        i.typcn.typcn-th-large-outline.hor-icon
                        |  PATIENTS 
                li(aria-haspopup='true')
                    a.sub-icon(href='/staff' class=staffActive)
                        i.typcn.typcn-th-large-outline.hor-icon
                        |  STAFF
                li(aria-haspopup='true')
                    a.sub-icon(href='/calendar' class=calActive)
                        i.typcn.typcn-th-large-outline.hor-icon
                        |  CALENDAR
                        