.horizontal-main.hor-menu.clearfix
    .horizontal-mainwrapper.container.clearfix
        nav.horizontalMenu.clearfix
            ul.horizontalMenu-list
                li(aria-haspopup='true')
                    a.sub-icon(href='/' class=dashActive)
                        i.typcn.typcn-device-desktop.hor-icon
                        |  Dashboard 
                li(aria-haspopup='true')
                    a.sub-icon(href='/patients' class=patientActive)
                        i.typcn.typcn-th-large-outline.hor-icon
                        |  PATIENTS 
                li(aria-haspopup='true')
                    span.horizontalMenu-click
                        i.horizontalMenu-arrow.fa.fa-angle-down
                    a.sub-icon(href='#' class=staffActive)
                        i.typcn.typcn-th-large-outline.hor-icon
                        |  HR
                        i.fa.fa-angle-down.horizontal-icon
                    ul.sub-menu
                        li(aria-haspopup='true')
                            a(href='/staff') Staff
                        li(aria-haspopup='true')
                            a(href='/vendors') Vendors
                        li(aria-haspopup='true')
                            a(href='/insurance') Insurance

                li(aria-haspopup='true')
                    a.sub-icon(href='/calendar' class=calActive)
                        i.typcn.typcn-calendar.hor-icon
                        |  CALENDAR
                        