.app-sidebar__overlay(data-toggle='sidebar')
aside.app-sidebar.toggle-sidebar
    .app-sidebar__user.pb-0
        .user-body
            span.avatar.avatar-xxl.brround.text-center.cover-image(data-image-src='../assets/images/users/female/33.png')
        .user-info
            a.ml-2(href='#')
                span.text-dark.app-sidebar__user-name.font-weight-semibold Patient Name
                br
                span.app-sidebar__user-name.text-sm  Male, 10/25/1995
                br 
                span.app-sidebar__user-name.text-sm  More Info
    //- .tab-menu-heading.siderbar-tabs.border-0.p-0
    //-     .tabs-menu
    //-         // Tabs
    //-         ul.nav.panel-tabs
    //-             li
    //-                 a.active(href='#index1', data-toggle='tab')
    //-                     i.fa.fa-home.fs-17
    //-             li
    //-                 a(href='#index2', data-toggle='tab')
    //-                     i.fa.fa-envelope.fs-17
    //-             li
    //-                 a(href='#index3', data-toggle='tab')
    //-                     i.fa.fa-user.fs-17
    //-             li
    //-                 a(href='login.html', title='logout')
    //-                     i.fa.fa-power-off.fs-17
    .panel-body.tabs-menu-body.side-tab-body.p-0.border-0
        .tab-content
            #index1.tab-pane.active
                ul.side-menu.toggle-menu
                    li.slide
                        a.side-menu__item(data-toggle='slide', href='#')
                            i.side-menu__icon.typcn.typcn-device-desktop
                            span.side-menu__label Admission
                            i.angle.fa.fa-angle-right
                        ul.slide-menu
                            li
                                a.slide-item(href='#')
                                    span Consent
                            li
                                a.slide-item(href='#')
                                    span Staff Assignment
                            li
                                a.slide-item(href='#')
                                    span Chart Check List
                    li.slide
                            a.side-menu__item(data-toggle='slide', href='#')
                                i.side-menu__icon.typcn.typcn-device-desktop
                                span.side-menu__label Assessment & Visits
                                i.angle.fa.fa-angle-right
                            ul.slide-menu
                                li
                                    a.slide-item(href='#')
                                        span Nursing
                                li
                                    a.slide-item(href='#')
                                        span Spiritual
                                li
                                    a.slide-item(href='#')
                                        span Psychosocial
                                li
                                    a.slide-item(href='#')
                                        span Visitnotes
                                li
                                    a.slide-item(href='#')
                                        span MD F2F/Visit Notes 
                                li
                                    a.slide-item(href='#')
                                        span HA Visits 
                                li
                                    a.slide-item(href='#')
                                        span Volunteer Visit  
                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-device-desktop
                            span.side-menu__label Tx/Med/DME
                    
                    li
                        a.side-menu__item(href='#')
                            i.side-menu__icon.typcn.typcn-device-desktop
                            span.side-menu__label IDG

                    li.slide
                            a.side-menu__item(data-toggle='slide', href='#')
                                i.side-menu__icon.typcn.typcn-device-desktop
                                span.side-menu__label POC
                                i.angle.fa.fa-angle-right
                            ul.slide-menu
                                li
                                    a.slide-item(href='#')
                                        span Summart
                                li
                                    a.slide-item(href='#')
                                        span List

                    li.slide
                            a.side-menu__item(data-toggle='slide', href='#')
                                i.side-menu__icon.typcn.typcn-device-desktop
                                span.side-menu__label Issues/Outcome
                                i.angle.fa.fa-angle-right
                            ul.slide-menu
                                li
                                    a.slide-item(href='#')
                                        span Current Issues
                                li
                                    a.slide-item(href='#')
                                        span History of Issues

                    li.slide
                            a.side-menu__item(data-toggle='slide', href='#')
                                i.side-menu__icon.typcn.typcn-device-desktop
                                span.side-menu__label Physician
                                i.angle.fa.fa-angle-right
                            ul.slide-menu
                                li
                                    a.slide-item(href='#')
                                        span Add New MD Order
                                li
                                    a.slide-item(href='#')
                                        span CTI

                                
                                
