extends ../../templates/layout

block content
    .page-header
        ol.breadcrumb
            // breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item.active(aria-current='page') HR
            li.breadcrumb-item.active(aria-current='page')=title
        // End breadcrumb
        .ml-auto
            .input-group
                a(href="/patients/add-patient").btn.btn-primary.text-white.mr-2
                    span
                        i.fa.fa-plus
                        |  ADD NEW VENDOR
    

    .card.shadow
        .card-header.bg-transparent.border-0
            h3.card-title.mb-0 Vendor List
        div
            .grid-margin
                div
                    .table-responsive
                        table.table.card-table.table-vcenter.text-nowrap.align-items-center
                            thead.thead-light
                                tr
                                    th Firstname
                                    th Lastname
                                    th DOB
                                    th Discipline
                                    th Cell#
                                    th Phone#
                                    th Email 
                                    th Address
                                    th Hire Date
                                    th Termination Date  
                                    th Options
                            tbody
                                tr
                                    td 
                                        | Ador
                                    td
                                        | Bustamante

                                    td
                                        | MD
                                    td (323) 254-2811
                                    td.text-nowrap  
                                        | 
                                    td.text-nowrap  
                                        | buste827@aol.com 
                                    td 5417 York Blvd.
                                    td 2020-01-01
                                    td 2016-01-01
                                    td 2019-12-11
                                