extends ../../templates/layout

block content
    .page-header
        ol.breadcrumb
            // breadcrumb
            li.breadcrumb-item
                a(href='#') Home
            li.breadcrumb-item.active(aria-current='page')=title

    .row 
        .col-md-8
            .card
                .card-header 
                .card-body 
            
        .col-md-4 
            .card
                .card-header 
                .card-body