doctype html
html(lang="en" dir="ltr")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='Hogo– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template', name='description')
        meta(content='Spruko Technologies Private Limited', name='author')
        meta(name='keywords', content='html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template')
        //- Favicon
        link(rel='icon', href='/assets/images/brand/favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', type='image/x-icon', href='/assets/images/brand/favicon.ico')
        //- Title
        title=title
        //- Bootstrap.min css
        link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
        //- Dashboard css
        link(href='/assets/css/style.css', rel='stylesheet')
        //- Custom scroll bar css
        link(href='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css', rel='stylesheet')

        //- Sidebar Menu css
        link(href='/assets/plugins/toggle-sidebar/full-sidemenu.css', rel='stylesheet')
        
        //- Horizontal-menu css
        link(href='/assets/plugins/horizontal-menu/dropdown-effects/fade-down.css', rel='stylesheet')
        link(href='/assets/plugins/horizontal-menu/horizontalmenu.css', rel='stylesheet')
        //- Daterangepicker css
        link(href='/assets/plugins/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
        //- Rightsidebar css
        link(href='/assets/plugins/sidebar/sidebar.css', rel='stylesheet')
        //- Sidebar Accordions css
        link(href='/assets/plugins/accordion1/css/easy-responsive-tabs.css', rel='stylesheet')
        //- Owl Theme css
        link(href='/assets/plugins/owl-carousel/owl.carousel.css', rel='stylesheet')
        //- Morris  Charts css
        link(href='/assets/plugins/morris/morris.css', rel='stylesheet')
        //- Datatables
        link(href='/assets/plugins/datatable/dataTables.bootstrap4.min.css', rel='stylesheet')
        link(href='/assets/plugins/datatable/responsivebootstrap4.min.css', rel='stylesheet')
        
        //- Font icons css
        link(href='/assets/plugins/iconfonts/plugin.css', rel='stylesheet')
        link(href='/assets/plugins/iconfonts/icons.css', rel='stylesheet')
        link(href='/assets/fonts/fonts/font-awesome.min.css', rel='stylesheet')

    body.app.sidebar-mini.rtl

        #global-loader
            img(src="/assets/images/icons/loader.svg", alt="loader")
        
        .page 
            .page-main 
                //- Top Nav Bar  =================================
                include partials/nav-header

                //- IF PATIEN IS OPEN TOGGLE THE SIDEBAR MENU========================
                if(openPatient)
                    include partials/sidebar-menu
                    .app-content.my-3.my-md-5.toggle-content
                        .side-app
                            block content
                            include partials/side-bar
                

                //- ELSE PATIENT IS NOT OPEN TOGGLE THE HORIZONTAL MENU========================
                else
                    include partials/hor-menu
                    .container.content-area
                        .side-app 
                            block content
                            
                            include partials/side-bar
                        


        //- Back to top
        a#back-to-top(href='#top')
            i.fa.fa-angle-up



        script(src='/assets/js/vendors/jquery-3.2.1.min.js')
        //- Bootstrap.min js
        script(src='/assets/plugins/bootstrap/popper.min.js')
        script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
        //- Jquery Sparkline js
        script(src='/assets/js/vendors/jquery.sparkline.min.js')
        //- Chart Circle js
        script(src='/assets/js/vendors/circle-progress.min.js')
        //- Star Rating js
        script(src='/assets/plugins/rating/jquery.rating-stars.js')
        //- Moment js
        script(src='/assets/plugins/moment/moment.min.js')
        //- Daterangepicker js
        script(src='/assets/plugins/bootstrap-daterangepicker/daterangepicker.js')
        //- Sidebar Menu js
        script(src="/assets/plugins/toggle-sidebar/sidemenu.js")
        //- Horizontal-menu js
        script(src='/assets/plugins/horizontal-menu/horizontalmenu.js')
        //- Sidebar Accordions js
        script(src='/assets/plugins/accordion1/js/easyResponsiveTabs.js')
        //- Custom scroll bar js
        script(src='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js')
        //- Owl Carousel js
        script(src='/assets/plugins/owl-carousel/owl.carousel.js')
        script(src='/assets/plugins/owl-carousel/owl-main.js')
        //- Rightsidebar js
        script(src='/assets/plugins/sidebar/sidebar.js')
        //- Charts js
        script(src='/assets/plugins/chart/chart.bundle.js')
        script(src='/assets/plugins/chart/utils.js')
        //- Time Counter js
        script(src='/assets/plugins/counters/jquery.missofis-countdown.js')
        script(src='/assets/plugins/counters/counter.js')
        //- Morris  Charts js
        script(src='/assets/plugins/morris/raphael-min.js')
        script(src='/assets/plugins/morris/morris.js')
        //- Datatable js
        script(src='/assets/plugins/datatable/jquery.dataTables.min.js')
        script(src='/assets/plugins/datatable/dataTables.bootstrap4.min.js')
        script(src='/assets/plugins/datatable/dataTables.responsive.min.js')
        
        //- Custom js
        script(src='/assets/js/custom.js')

        block scripts