.card
    .card-header
        h3.card-title Date of Service, Diagnosis & Allergies
        .card-options
            a.card-options-collapse(href='#', data-toggle='card-collapse')
                i.fe.fe-chevron-up
    .card-body
        form#dsda-form(action="#", method="post")
            .row 
                .col-md-3 
                    label(for="refdate").form-label Ref Date 
                    input(type="text" name="refdate").form-control.datePicker
                .col-md-3 
                    label(for="soc").form-label SOC 
                    input(type="text" name="soc").form-control.datePicker
                .col-md-3 
                    label(for="recert").form-label  Re-Cert
                    input(type="text" name="recert").form-control.datePicker
                .col-md-3 
                    label(for="eoc").form-label EOC 
                    input(type="text" name="eoc").form-control.datePicker
            
            .row 
                .col-md-8 
                    br
                    | Allergies: 
                    button.btn.btn-primary.btn-sm
                        i.fa.fa-plus
                        | New Allergy
                .col-md-4 
                    label(for="discharge_code").form-label Discharged Code 
                    select(name="discharge_code").form-control  
                        option(value="") Select-->

            hr 
            .row 
                .col-md-8
                    label(for="primary_dx").form-label Primary Dx
                    input(type="text" name="primary_dx").form-control
                .col-md-4
                    label(for="primary_disease").form-label Disease
                    select(name="primary_disease").form-control  
                        option(value="") Select-->
                        each val,key in diseaseList
                            option(value=key)=val                        
            .row 
                .col-md-8
                    label(for="secondary_dx").form-label Secondary Dx
                    input(type="text" name="secondary_dx").form-control
                .col-md-4
                    label(for="secondary_disease").form-label Disease
                    select(name="secondary_disease").form-control  
                        option(value="") Select-->
                        each val,key in diseaseList
                            option(value=key)=val
            br 
            .row
                .col-md-12  
                    .alert.alert-info 
                        | COMORBIDITIES: 

            hr 
            .pull-right 
                button(type="submit").btn.btn-secondary 
                    i.fa.fa-save 
                    |   UPDATE
                


                