extends ../../templates/layout

block content
    .page-header
        ol.breadcrumb
            // breadcrumb
            li.breadcrumb-item
                a(href='#') Patient
            li.breadcrumb-item.active(aria-current='page')=title
        .ml-auto
            .input-group
                a.btn.btn-secondary.text-white(href='#', data-toggle='tooltip', title='', data-placement='bottom', data-original-title='Rating')
                    span
                        i.fa.fa-print
                        |    Print

    .card 
        .card-body
            form#update-patient-form(action="/patient/"+patientid+"/update-patient-info", method="post")  
                .row 
                    .col-md-2 
                        label(for="mrno") MR# 
                        input(type="text" name="mrno" value=(data[0])? data[0].mrno :'' ).form-control 
                    .col-md-3
                        label(for="ssn") SSN 
                        input(type="text" name="ssn" value=(data[0])? data[0].ssn :'' ).form-control.ssn 

                .row 
                    .col-md-4 
                        label(for="lastname") Lastname
                        input(type="text" name="lastname" value=(data[0])? data[0].lastname :'' ).form-control 
                    .col-md-4 
                        label(for="firstname") Firstname 
                        input(type="text" name="firstname" value=(data[0])? data[0].firstname :'' ).form-control 
                    .col-md-4 
                        label(for="middlename") Middlename 
                        input(type="text" name="middlename" value=(data[0])? data[0].middlename :'' ).form-control 

                .row 
                    .col-md-4 
                        label(for="dob") DOB
                        input(type="text" name="dob" placeholder="MM/DD/YYYY" value=(data[0])? moment(data[0].dob).format('MM/DD/YYYY') :'' ).form-control.datePicker 
                    .col-md-4 
                        label(for="gender") Gender 
                        input(type="text" name="gender" value=(data[0])? data[0].gender :'' ).form-control 
                    .col-md-4 
                        label(for="mstatus") Marital Status 
                        input(type="text" name="mstatus" value=(data[0])? data[0].marital_status :'' ).form-control 

                .row
                    .col-md-4 
                        label(for="phoneno") Phone#
                        input(type="text" name="phoneno" value=(data[0])? data[0].phoneno :'' ).form-control.phone
                    .col-md-4 
                        label(for="cellno") Cell#
                        input(type="text" name="cellno" value=(data[0])? data[0].cellno :'' ).form-control.cellno
                    .col-md-4 
                        label(for="primlang") Primary Language
                        input(type="text" name="primlang" value=(data[0])? data[0].primary_lang :'' ).form-control 


                .row
                    .col-md-3 
                        label(for="race") Race 
                        select(name="race").form-control
                            option(value=(data[0])? data[0].race :'' )=race[data[0].race]
                            each val, key in race
                                option(value=key)= val
                    .col-md-3 
                        label(for="ethnicity") Ethnicity
                        select(name="ethnicity").form-control 
                            option(value=(data[0])? data[0].ethnicity :'')=ethnicity[data[0].ethnicity]
                            each val, key in ethnicity
                                option(value=key)=val
                    .col-md-3 
                        label(for="religion") Religion
                        input(type="text" name="religion" value=(data[0])? data[0].religion :'' ).form-control
                    .col-md-3 
                        label(for="denomination") Denomination
                        input(type="text" name="denomination" value=(data[0])? data[0].denomination :'' ).form-control  


                .row 
                    .col-md-4 
                        label(for="address") Address 
                        input(type="text" name="address" value=(data[0])? data[0].address :'' ).form-control 
                    .col-md-3 
                        label(for="city") City
                        input(type="text" name="city" value=(data[0])? data[0].city :'' ).form-control 
                    .col-md-2 
                        label(for="state") State 
                        input(type="text" name="state" value=(data[0])? data[0].state :'' ).form-control 
                    .col-md-2 
                        label(for="zipcode") Zipcode
                        input(type="text" name="zipcode" value=(data[0])? data[0].zipcode :'' ).form-control.zipcode
                hr 
                .pull-right 
                    button.btn.btn-primary(type="submit")
                        i.fa.fa-save 
                        |   UPDATE

    .row 
    
        .col-md-12
            //- Insurance 
            include insurance

        .col-md-12 
            //- Date of Service, Diagnosis & Allergies DSDA
            include DSDA   
                
        .col-md-12 
            //- Place of Service
            include placeofservice
        .col-md-12 
            //- Authorize Rep(AR) / Emergency Contanct(EC)
            include AREC
        .col-md-12 
            //- Referral Source & Attending MD
            include RSAM
        .col-md-12 
            //- Vendors
            include vendors
        .col-md-12 
            //- Motuary Inforamtion
            include mortuaryinfo
    




block scripts 
    script(src="/js-page/patient.js")