extends ../../templates/layout

block content
    .page-header
        ol.breadcrumb
            // breadcrumb
            li.breadcrumb-item
                a(href='#') Patient
            li.breadcrumb-item.active(aria-current='page')=title
        .ml-auto
            .input-group
                a.btn.btn-secondary.text-white(href='#', data-toggle='tooltip', title='', data-placement='bottom', data-original-title='Rating')
                    span
                        i.fa.fa-print
                        |    Print

    .card 
        .card-body
            form(action="#", method="post")  
                .row 
                    .col-md-2 
                        label(for="mrno") MR# 
                        input(type="text" name="mrno").form-control 
                    .col-md-3
                        label(for="mrno") SSN 
                        input(type="text" name="mrno").form-control.ssn 

                .row 
                    .col-md-4 
                        label(for="lastname") Lastname
                        input(type="text" name="lastname").form-control 
                    .col-md-4 
                        label(for="firstname") Firstname 
                        input(type="text" name="firstname").form-control 
                    .col-md-4 
                        label(for="middlename") Middlename 
                        input(type="text" name="middlename").form-control 

                .row 
                    .col-md-4 
                        label(for="dob") DOB
                        input(type="text" name="dob" placeholder="MM/DD/YYYY").form-control.datePicker 
                    .col-md-4 
                        label(for="gender") Gender 
                        input(type="text" name="gender").form-control 
                    .col-md-4 
                        label(for="mstatus") Marital Status 
                        input(type="text" name="mstatus").form-control 

                .row
                    .col-md-4 
                        label(for="mrno") Phone#
                        input(type="text" name="mrno").form-control.phone
                    .col-md-4 
                        label(for="mrno") Cell#
                        input(type="text" name="mrno").form-control.cellno
                    .col-md-4 
                        label(for="mrno") Primary Language
                        input(type="text" name="mrno").form-control 


                .row
                    .col-md-3 
                        label(for="race") Race 
                        input(type="text" name="race").form-control 
                    .col-md-3 
                        label(for="ethnicity") Ethnicity
                        input(type="text" name="ethnicity").form-control 
                    .col-md-3 
                        label(for="religion") Religion
                        input(type="text" name="religion").form-control
                    .col-md-3 
                        label(for="denomination") Denomination
                        input(type="text" name="denomination").form-control  


                .row 
                    .col-md-4 
                        label(for="address") Address 
                        input(type="text" name="address").form-control 
                    .col-md-3 
                        label(for="city") City
                        input(type="text" name="city").form-control 
                    .col-md-2 
                        label(for="state") State 
                        input(type="text" name="state").form-control 
                    .col-md-2 
                        label(for="zipcode") Zipcode
                        input(type="text" name="zipcode").form-control.zipcode


    .row 
    
        .col-md-12
            //- Insurance 
            include insurance

        .col-md-12 
            //- Date of Service, Diagnosis & Allergies DSDA
            include DSDA   
                
        .col-md-12 
            //- Place of Service
            include placeofservice
        .col-md-12 
            //- Authorize Rep(AR) / Emergency Contanct(EC)
            include AREC
        .col-md-12 
            //- Referral Source & Attending MD
            include RSAM
        .col-md-12 
            //- Vendors
            include vendors
        .col-md-12 
            //- Motuary Inforamtion
            include mortuaryinfo
    




