//- .card-collapsed
.card
    .card-header
        h3.card-title Insurance
        .card-options
            a.card-options-collapse(href='#', data-toggle='card-collapse')
                i.fe.fe-chevron-up
    .card-body
        form#insurance-form(action="/patient/"+patientid+"/insurance" method="post")
            span.alert-info 
                | IMPORTANT - Per Authorization or Eligibility, only enter the Payer/s who is finanacially responsible. The claim will be submitted to this Payer/s only.

            .row  
                .col-md-6   
                    label(for="source").form-label Current Pay Source
                    select(name="source").form-control
                        option(value="") Select-->
                        option(value="Primary") Primary
                        option(value="Secondary") Secondary
                        option(value="Third Party") Third Party
                .col-md-6 
                    label(for="effective_date").form-label Effective Date   
                    input(type="text" name="effective_date").form-control.datePicker

            .row 
                .col-md-6
                    label(for="payer").form-label  Payer/FN Resp 
                    select(name="payer").form-control 
                        option(value="") Select-->
                        each val,key in insuranceList
                            option(value=key)=val
                .col-md-6
                    label(for="sharecost").form-label Share of Cost 
                    input(type="text" name="sharecost").form-control 
                .col-md-6 

            .row 
                .col-md-6 
                    label(for="policyno") Policy#/HICN 
                    input(type="text" name="policyno").form-control
                .col-md-6 
                    label(for="mbino") MBI# 
                        small (Medicare Beneficiary Identifier)
                    input(type="text" name="mbino").form-control


            #secondary.row 
                .col-md-6
                    label(for="groupno") GROUP# 
                    input(type="text" name="groupno").form-control
                .col-md-6
                    label(for="binno") BIN# 
                    input(type="text" name="binno").form-control


            hr 
            .pull-right 
                button(type="submit").btn.btn-secondary 
                    i.fa.fa-save 
                    |   UPDATE