//- .card-collapsed
.card
    .card-header
        h3.card-title Mortuary Information
        .card-options
            a.card-options-collapse(href='#', data-toggle='card-collapse')
                i.fe.fe-chevron-up
    .card-body
        form#mortuary-form(action="/patient/"+patientid+'/mortuary', method="post")
            .row 
                .col-md-4 
                    label(for="name") Mortuary Name
                    input(type="text" name="name").form-control
                .col-md-4 
                    label(for="contact_name") Contact Name
                    input(type="text" name="contact_name").form-control
                .col-md-4 
                    label(for="email") Email
                    input(type="text" name="email").form-control
            .row 
                .col-md-4 
                    label(for="phone") Phone
                    input(type="text" name="phone").form-control
                .col-md-4 
                    label(for="alt_phone") Alt Phone
                    input(type="text" name="alt_phone").form-control
                .col-md-4 
                    label(for="fax") Fax
                    input(type="text" name="fax").form-control
            .row 
                .col-md-4 
                    label(for="address") Address
                    input(type="text" name="address").form-control
                .col-md-3
                    label(for="city") City
                    input(type="text" name="city").form-control
                .col-md-3 
                    label(for="state") State
                    input(type="text" name="state").form-control
                .col-md-2 
                    label(for="zipcode") Zipcode
                    input(type="text" name="zipcode").form-control
                
                
            hr 
            .pull-right 
                button(type="submit").btn.btn-primary 
                    i.fa.fa-save 
                    |   UPDATE