//- .card-collapsed
.card
    .card-header
        h3.card-title Referral Source & Attending MD
        .card-options
            a.card-options-collapse(href='#', data-toggle='card-collapse')
                i.fe.fe-chevron-up
    .card-body
        